/*
 * SmartTab plugin v2.0
 * jQuery Tab Control Plugin
 * 
 * by Dipu Raj
 * http://techlaboratory.net/smarttab
 * 
 * License 
 * http://creativecommons.org/licenses/by-sa/3.0/  
 */
.stMain {
    border: 1px solid #cccccc;
    color: #666666;
    display: block;
    font-size: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: auto;
}
.stContainer {
/* 	border-radius: 0 0 10px 10px; */
    display: block;
    float: left;
    height: 450px;
    margin: 0;
    min-height: 540px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.stMain ul.tabAnchor li:first-child a {
	border-left: 0 none;
}
.stMain div.tabContent {
	display: block;
	position: absolute;
	margin: 0;
	padding: 10px;
	border: 0px solid #D4D4D4;
	background-color: #FFF;
	text-align: left;
	width: 98%;
}
.stMain ul.tabAnchor {
    /* background: none repeat scroll 0 0 #ececec; */
    /* border-radius: 10px 10px 0 0; */
    box-shadow: 1px -1px 0px #cccccc inset;
    clear: both;
    display: block;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 100;
}
.stMain ul.tabAnchor li {
    /* box-shadow: 0 0 5px #999999; */
    display:inline-block;
    margin: 0;
    padding: 0;
    position: relative;
	float:left;
}
.stMain ul.tabAnchor li a {
	display: block;
	margin: 0;
	padding: 8px 40px 18px;
	margin-right: -1px;
	min-width: 75px;
	text-align: center;
	font-size: 17px;
	float: left;
	color: #666;
	text-decoration: none;
	outline-style: none;
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
}
.stMain ul.tabAnchor li a small {
	font-size: 15px;
}
.stMain ul.tabAnchor a span:hover {
	/* border-top: 2px solid #36BE75; */
	color: #000000;/*height: 25px;*/
}
.ui-state-highlight a.sel {
	/* border-radius: 10px 0 0 !important; */
}
.stMain ul.tabAnchor a span {
    border-top: 2px solid transparent;
    float: left;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}
/* .stMain ul.tabAnchor a.sel span {
	border-top: 2px solid #36BE75;
} */
.stMain ul.tabAnchor li a.sel {
	border-radius: 0;
	color: #000000;
	border-bottom-color: #FFF;
	border-top: 3px solid #f07400;
	font-size: 17px;
	cursor: text;
	text-align: center;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}
.loader {
	position: absolute;
	left: 48%;
	top: 40%;
	display: block;
	margin: 0;
	padding: 5px;
	padding-top: 35px;
	font-size: 10px;
	color: #666;
	text-decoration: none;
	outline-style: none;
	border: 1px solid #D4D4D4;
	background: #f6f6f6 url(../images/loader.gif) no-repeat 10px 10px;
}
a.stLinks {
	margin: 0;
	padding: 5px;
	color: #666;
	text-decoration: none;
	outline-style: none;
	border: 1px solid #D4D4D4;
	background-color: #f6f6f6;
}
a.stLinks:hover {
	color: #FFF;
	background-color: #00A7DB;
}
.tab-div{
    /* background: none repeat scroll 0 0 #ECECEC;
    box-shadow: 1px -2px 3px #CCCCCC inset; */
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
	behavior: url(display-table.min.htc);
}

@media only screen and (max-width:767px){

.ads {
    display:none;
}
.stMain ul.tabAnchor li a.sel, .stMain ul.tabAnchor li a{font-size: 15px;}
.stMain ul.tabAnchor li a{padding: 3px 13px 13px;}
}